$r20: 1.12;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@mixin margins {
  @for $i from 1 through 12 {
    .ml-#{$i} { margin-left: pow($r20 , $i) * 1px }
    .mr-#{$i} { margin-right: pow($r20 , $i) * 1px; }
    .mt-#{$i} { margin-top: pow($r20 , $i) * 1px; }
    .mb-#{$i} { margin-bottom: pow($r20 , $i) * 1px; }
    .mx-#{$i} { margin: pow($r20 , $i) * 1px 0; }
    .my-#{$i} { margin: 0 pow($r20 , $i) * 1px; }
    .ma-#{$i} { margin: pow($r20 , $i) * 1px; }
  }
}

@mixin fontSize {
  @for $i from 1 through 12 {
    .fs-#{$i} { margin-left: pow($r20 , $i) * 1px }
  }
}
