@import url('https://fonts.googleapis.com/css2?family=Barlow');
@import 'mixins';

@include margins;

body {
  font-family: 'Barlow', sans-serif;
}

.quote--card {
  max-width: 100%;
  max-height: 100%;
}

.quote--color-box {
  height: 100%;
}

.quote--text-box {
  line-height: 1.5;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.quote--text-box p {
  text-align: justify;
}

.date {
  font-weight: 800;
  text-align: center;
}

.author {
  font-weight: bold;
  text-align: right;
  font-style: italic;
}

@media (orientation: landscape) {
  .quote--color-box {
    margin-left: 50%;
    width: 50%;
  }

  .quote--text-box {
    width: 70%;
    margin: 0 16%;
    font-size: 2vw;
  }
}

@media (orientation: portrait) {
  .quote--color-box {
    height: 50%;
    width: 100%;
    transform: translateY(100%);
  }

  .quote--text-box {
    width: 76%;
    margin: 0 12%;
    font-size: 2vh;
  }
}
