.quote--card {
  max-width: 100%;
  max-height: 100%;
}

.quote--color-box {
  height: 100%;
}

.quote--text-box {
  line-height: 1.5;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.author {
  font-style: italic;
}

@media (orientation: landscape) {
  .quote--color-box {
    margin-left: 50%;
    width: 50%;
  }

  .quote--text-box {
    font-size: 2.5vw;
  }
}

@media (orientation: portrait) {
  .quote--color-box {
    height: 50%;
    width: 100%;
    transform: translateY(100%);
  }

  .quote--text-box {
    font-size: 2.8vh;
  }
}
